mixin GTM(TAG)
	//- Google Tag Manager
	| <noscript><iframe src="//- www.googletagmanager.com/ns.html?id=GTM-TRS3HP"
	|    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	| <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	| new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	| j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	| '//- www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	| })(window,document,'script','dataLayer','#{TAG}');</script>
	//- END Google Tag Manager

mixin GA (GA_ID)
	//- - GA_ID = UA-XXXXX-X
	//-  Google Analytics: change UA-XXXXX-X to be your site's ID.
	| <script>
	| (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	| function(){(b[l].q=b[l].q || []).push(arguments)});b[l].l=+new Date;
	| e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	| e.src='//- www.google-analytics.com/analytics.js';
	| r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	| ga('create','#{GA_ID}','auto');ga('send','pageview');
	| </script>
	//-  End Google Analytics

mixin FavIcon
	| <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	| <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
	| <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
	| <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	| <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
	| <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	| <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
	| <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
	| <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
	| <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-chrome-192x192.png">
	| <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	| <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	| <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	| <link rel="manifest" href="img/favicon/manifest.json">
	meta(name="msapplication-TileColor", content="#ffffff")
	meta(name="msapplication-TileImage", content="img/favicon/mstile-144x144.png")
	meta(name="theme-color", content="#ffffff")
	meta(name="msapplication-config", content="img/favicon/browserconfig.xml")

//- svg
mixin use(name, sname)
	- var svg = 'img/icons/sprite.svg'
	svg(role='img' class=sname)
		use(xlink:href=svg + '#' + name)

mixin btn(text,icon)
	- text = text || 'hello'
	- icon = icon || 'fa fa-clock'

	div(class="btn ")&attributes(attributes)
		div.btn__icon
			i(aria-hidden="true" class=icon )
		div.btn__text #{text}

mixin form__input(name,text,type)
	- type = type || 'text'
	- name = name || 'unnamed'
	- text = text || 'unnamed'

	.tsft-form-field
		input(type=type name=name placeholder=text).tsft-form-field__input&attributes(attributes)
		label(for=name).tsft-form-field__label  #{text}

mixin form__textarea(name,text)
	- name = name || 'unnamed'
	- text = text || 'unnamed'

	.tsft-form-field
		textarea(name=name placeholder=text cols="40" rows="6").tsft-form-field__textarea&attributes(attributes)
		label(for=name).tsft-form-field__label  #{text}

mixin form__quantity(name)
	- name = name || 'quantity'

		.tsft-form-field__quantity
			span.minus -
			input(type='text' name=name value='1' size='3' readonly='readonly').tsft-form-field__input
			span.measure шт.
			span.plus +

mixin form__select_DayTime(options)
	- options = options || []
	.tsft-form-field
		select.tsft-form-field__select.tsft-form-field_w70
			option Пн
			option Вт
			option Ср
			option Чт
			option Пт
		select.tsft-form-field__select.tsft-form-field_w30
			option 8:00
			option 9:00
			option 10:00
			option 11:00
			option 12:00

mixin form__input_upload
	.tsft-form-field
		label.tsft-form-field__upload.text-left.hint.hint_top.hint_medium(data-hint="")
			input(type="hidden" name="MAX_FILE_SIZE"  value="41944304")
			input(type="file" name="UPLOAD_FILE" size="0")
			i.fa.fa-paperclip
			span.text Прикрепить файл

mixin form__submit(text,name)
	- name = name || 'submit'
	- text = text || 'unnamed'
	.tsft-form-field
		label.tsft-form-field__submit.hint.hint_top.hint_medium(data-hint="")
			input(type="submit" name=name value="Y")
			i.fa.fa-send
			| #{text}